<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dxswifi_direct.com.wifidirectcommunication" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".main.application.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.ui.activity.social.SocialAppsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".main.ui.activity.social.FBLoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".main.ui.activity.social.GPlusLoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".main.ui.activity.FirebaseChatActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".main.ui.activity.WiFiDirectActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".main.WiFiDirectActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".main.ui.activity.HitAPIActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1610139385944971"
            android:exported="true" />

        <!--
        Enable Chrome Custom Tabs by adding an intent filter to your manifest and a fb_login_protocol_scheme to your strings.xml file.
        When you enable Chrome Custom Tabs, the SDK presents the login dialog in a Chrome Custom Tab instead of a WebView when the Facebook
        app is not installed. As a result, people do not have to enter their credentials again if they are already logged into Facebook in their
        Chrome browser.
        -->
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>